<h3>Create New</h3>
<h6>List Item</h6>
<hr />
<form action="" method="">
    <div class="col-5 my-lg-3">

        <div>
            <label class="col-form-label" for="inputDefault">Name</label>
            <input type="text" class="form-control" id="inputDefault" spellcheck="false" data-ms-editor="true">
        </div>
        <div>
            <label class="col-form-label " for="inputDefault">Description</label>
            <input type="text" class="form-control" id="inputDefault" spellcheck="false" data-ms-editor="true">
        </div>
        <div>
            <label class="col-form-label " for="inputDefault">Deadline</label>
            <input type="datetime-local" class="form-control" data-ms-editor="true">
        </div>
        <div>
            <input type="file" class="form-control mt-4" id="inputGroupFile02">
        </div>

    </div>
    <button type="button" class="btn btn-info btn-dark mt-2">Create</button>
</form>