<h3>Welcome, ....</h3>
<p>Here is your to-do list.</p>
<a class="mt-2" style="display:inline-block" href="">Create New</a>
@* ------------Table------------- *@
<table class="table table-secondary table-hover mt-3">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Actions</th>
    </tr>

    <tr>
        <td>1</td>
        
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>

</table>